@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}

::selection {
  color: #fff;
  background: #d43f8d;
}

.container {
  width: 430px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
}

.container .for {
  font-size: 13px;
  border-bottom: 3 px solid #000;
}

.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
}

.container .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}

form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}

form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}

form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}

form .page .field a,
p {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #d33f8d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* margin-top: -20px;  */
  margin-right: 2px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}

form .page .field .cp {
  font-size: 15px;
}

form .page .reg .in {
  cursor: pointer;
  margin-top: -25px;
  transition: all 0.5s;
}

.dashboard table,
th {
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  border: 3px solid #000;
}

.dashboard .back {
  border: 3px solid;
  background-color: #d33f8d;
}

.dashboard .back a {
  display: flex;
  text-decoration: none;
  color: #fff;
  align-items: center;
  justify-content: center;
}

form .page .reg .in:hover {
  color: #0250c5;
}

form .page .retu {
  margin-top: -20px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

form .page .retu:hover {
  color: #0250c5;
}

form .page .field button:hover {
  background: #000;
}

form .page .btns button {
  margin-top: -20px !important;
}

form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}

form .page .btns button.next {
  margin-left: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}